* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2B2C28;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.header {
    background: linear-gradient(180deg,
            rgba(43, 42, 48, 0.5) 0%,
            rgba(45, 44, 50, 1) 100%),
        url(./imgs/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 70vh;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #ffff;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    margin: 0 5px;
    color: #FFFAFB;
    display: block;
    font-weight: 600;
    border-radius: 10px;
    text-shadow: 3px 2px 5px #B4D2E7;
    transition-property: background-color, font-size;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.menu .navbar ul li a:hover {
    font-size: 20px;
    background-color: #94C5CC;
    border-radius: 10px;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-text {
    width: 50%;
}

.header-text h1 {
    font-size: 110px;
    color: #F8F8F8;
    font-family: monospace;
    margin-top: 40px;
}

.header-text p {
    color: #A1A6B4;
    font-size: 20px;
    text-shadow: 5px 2.5px 10px #94C5CC;
}

.btn--1 {
    display: inline-block;
    background-color: #94C5CC;
    border-radius: 15px;
    letter-spacing: 5px;
    padding: 13px 35px;
    color: #2B2C28;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 30px;
    cursor: pointer;
    text-shadow: 5px 2.5px 10px #F8F8F8;
    transition-property: font-size;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

.btn--1:hover {
    font-size: 20px;
    text-shadow: 10px 2.5px 10px #F8F8F8;
}

.about {
    padding: 100px 0;
}

.about-content {
    display: flex;
}

.about--1 {
    width: 50%;
}

h3 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #F8F8F8;
    text-transform: uppercase;
}

p {
    color: #F8F8F8;
    font-size: 16px;
}

.about--2 {
    width: 50%;
    padding-left: 150px;
}

.about-img {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

.about-img img {
    width: 100px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.about-txt {
    padding-left: 25px;
}

h4 {
    color: #F8F8F8;
    font-weight: bold;
    text-transform: uppercase;
}

.services {
    padding: 100px 0;
    background-color: #94C5CC;
}

.services-txt {
    text-align: center;
}

h2 {
    font-size: 55px;
    line-height: 50px;
    text-transform: uppercase;
    color: #2B2C28;
    margin-bottom: 20px;
}

.services-txt p {
    color: #2B2C28;
    margin-bottom: 35px;
}

.services-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.services-content img {
    width: 100%;
    height: 500px;
    transition-property: height, width;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

.services-content img:hover {
    width: 90%;
    height: 400px;
}

.footer {
    padding: 100px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer h2 {
    color: #FFFAFB;
}

.form-group {
    display: flex;
}

.campo {
    padding: 13px 10px;
    background-color: #fff;
    outline: none;
    color: #2B2C28;
    font-size: 16px;
    margin: 0 5px 5px 0;
    border: 0;
    border-radius: 4px
}

.campo::placeholder {
    color: #2B2C28;
    letter-spacing: 1px;
}